.carousel-container {
  position: relative;
  width: 80%;
  margin: 10% auto;
  overflow: hidden;

  .title {
    text-transform: uppercase;
    text-align: center;
    span {
      color: #e11f26;
    }
  }

  .carousel-inner {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    height: 300px;
    margin: 50px 0;
  }

  .buttons-container {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .carousel-button {
      all: unset;
      svg {
        fill: black;
      }
      &.right {
        transform: scaleX(-1);
      }
    }
  }
}
