#mobile-menu {
  .hamburger-menu-button {
    height: 60px;
    width: 60px;
    background-color: white;
    padding: 8px 0 0 0;
    border: none;

    svg {
      height: 100%;
      width: 100%;
      line {
        stroke: black;
      }
    }
  }

  .menu-modal {
    width: 100%;
    margin: 3.5% auto;
    border: none;
    &::backdrop {
      backdrop-filter: blur(5px);
    }

    .close-menu-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      background-color: white;
      margin-left: auto;
      margin-right: 20%;
      &:focus {
        outline: none;
        color: black;
      }

      .title {
        color: black;
        font-size: 3em;
        font-weight: 300;
        text-transform: uppercase;
      }
      .arrow-container {
        margin-left: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          fill: black;
          height: 25px;
          transform: rotate(180deg);
        }
      }
      &:hover {
        color: red;
        .arrow-container {
          svg {
            fill: red;
          }
        }
      }
    }

    .menu-option {
      font-size: 2em;
      font-weight: 500;
      text-transform: uppercase;
      text-align: right;

      &:hover {
        text-decoration: underline red;
      }
    }

    .contact-info {
      text-align: center;
      font-weight: 600;

      .logo-container {
        margin: auto;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 150%;
          height: 150%;
        }
      }
      .message-us-button {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5%;

        width: 90%;
        height: 60px;

        text-transform: uppercase;
        font-size: 1.5em;
        border: 1px black solid;
        color: black;
        background: white;
        border-radius: 5px;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.12);

        svg {
          fill: #e11f26;
          height: 30px;
          width: 30px;
          transform: rotate(180deg) translateY(-4px);
        }
        &:hover {
          filter: invert(1);
          svg {
            filter: invert(1);
          }
        }
      }
    }
  }
}
