@import "../../index.scss";

#hero {
  position: relative;
  width: 83%;
  margin: 5% auto;
  padding-left: 4%;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;

  .hero-copy {
    width: 58%;

    .hero-title {
      color: $primary-color;
      font-size: 56px;
      text-transform: uppercase;
    }
    .hero-text {
      font-weight: 800;
    }
  }
  .hero-image-container {
    width: 45%;
    margin-left: -5%;

    .hero-image {
      width: 100%;
      height: 100%;
    }
  }

  &.horizontal {
    flex-direction: row;
    .hero-image {
    }
  }
  &.vertical {
    flex-direction: column-reverse;
    justify-content: stretch;

    padding: 0;
    .hero-copy {
      width: 95%;
      .hero-title,
      .hero-text {
        text-align: left;
      }
    }
    .hero-image-container {
      width: 100%;

      .hero-image {
        width: 100%;
        height: 100%;
      }
    }
  }

  // cross accents
  .top-left-cross {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
  .top-right-cross {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }
  .bottom-left-cross {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
  }
  .bottom-right-cross {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
  }
}
