@import "../../index.scss";

#hero {
  position: relative;
  width: 80%;
  margin: 5% auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .hero-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      color: $primary-color;
      font-size: 4vw;
      text-transform: uppercase;
    }
    .hero-text {
      font-weight: 800;
    }
  }
  &.horizontal {
    flex-direction: row;
    .hero-image {
      width: 50%;
      height: 50%;
      margin-left: -10%;
    }
  }
  &.vertical {
    flex-direction: column-reverse;
    .hero-copy {
      .hero-title,
      .hero-text {
        text-align: center;
      }
    }
    .hero-image {
      width: 80%;
      height: 80%;
      margin: -5%;
    }
  }
}
