#header {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4% auto;

  nav {
    button {
      all: unset;
    }
    .nav-item {
      color: #de1f26;
      text-transform: uppercase;
      font-weight: 600;
      margin-right: 25px;
      .arrow-down {
        position: relative;
        top: -3px;
        border: solid #de1f26;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin-right: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
    .boxed {
      border: 1px black solid;
      padding: 4px 10px;
      color: black;
      font-weight: 400;
      border-radius: 4px;
    }
  }
}
