.corner-card {
  position: relative;
  width: 350px;
  height: 300px;
  margin: auto;
  display: flex;
  z-index: 1;
  transition: all 0.25s ease-in-out;
  clip-path: polygon(13% 0%, 100% 0, 100% 100%, 0 100%, 0% 16%);
  // background-color: lime;
  .card-text {
    pointer-events: none;
    width: 75%;
    margin: auto;
    .card-title {
      text-transform: uppercase;
      margin: 0;
      font-size: 1.4em;
    }
    .card-copy {
      margin: auto;
      line-height: 18pt;
    }
  }
  .background-svg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &:hover {
    .card-title {
      color: #e11f26;
      transition: all 0.25s ease-in-out;
    }
    .card-copy {
      color: white;
      transition: all 0.25s ease-in-out;
    }
  }
}
