#horns-module {
  position: relative;
  .horns-svg {
    z-index: -10;
    width: 80%;
    height: auto;
    margin: -5% auto -2% auto;
  }
  .title {
    text-transform: uppercase;
    text-align: center;
  }
  .cards-container {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    width: 80%;
    margin: auto;

    &.horizontal {
      flex-direction: row;
      align-items: baseline;
    }
    &.vertical {
      flex-direction: column;
    }
  }
  .horns-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .footer-text {
      text-transform: uppercase;
      color: #e11f26;
      margin: 1%;
    }
  }
}
